<div class="row d-flex justify-content-center">
    <!-- <div class="row "> -->
    <!-- <div class="col-xl-3 col-md-6 "> -->
    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body ">
                <div class="mb-3">
                    <h2 class="text-nowrap text-center">Contas a Pagar Vencidas</h2>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">
                <div class="mb-3">
                    <!-- <h1>Contas a Pagar em 15-30 Dias</h1> -->
                    <h2 class="text-nowrap text-center">Contas a Pagar em 15-30 Dias</h2>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <!-- <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Warning Card</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-success"><div class="card-body">Success Card</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">Danger Card</div></sb-card-view-details>
    </div> -->

</div>

<div class="row d-flex justify-content-center">

    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="text-nowrap text-center">Receita do Mês Passado</h4>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="text-nowrap text-center">Receita do Mês Atual</h4>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>

        </sb-card-view-details>
    </div>
    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-success">
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="text-nowrap text-center">Receita do Próximo Mês</h4>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>

        </sb-card-view-details>
    </div>
    <!-- <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">Danger Card</div>
        </sb-card-view-details>
    </div> -->
</div>

<div class="row d-flex justify-content-center">

    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-dark">
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="text-nowrap text-center">Despesas do Mês Passado</h4>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-dark">
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="text-nowrap text-center">Despesas do Mês Atual</h4>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>

        </sb-card-view-details>
    </div>
    <div class="col">
        <sb-card-view-details link="/dashboard" background="bg-dark">
            <div class="card-body">
                <div class="mb-3">
                    <h4 class="text-nowrap text-center">Despesas do Próximo Mês</h4>
                </div>

                <div class="d-flex justify-content-center">
                    <h1 class="display-4">0</h1>
                </div>
            </div>

        </sb-card-view-details>
    </div>
    <!-- <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">Danger Card</div>
        </sb-card-view-details>
    </div> -->
</div>
